$body-font-family: 'PT Sans', sans-serif !important;
$heading-font-family: 'PT Sans', sans-serif !important;
$font-size-root: 17px;
$line-height-root: 1.7;
$border-radius-root: 2px;
$grid-breakpoints:(
        'xs': 0,
        'sm': 600px,
        'md': 960px,
        'lg': 1280px - 16px,
        'xl': 1280px - 16px
);
$shadow-key-ambient-opacity: rgba(#003374, 0.12);
$shadow-key-penumbra-opacity: rgba(#003374, 0.14);
$shadow-key-umbra-opacity: rgba(#003374, 0.05);

$container-max-widths:(
        'md': map-get($grid-breakpoints, 'md') * 1,
        'lg': map-get($grid-breakpoints, 'lg') * 1,
        'xl': map-get($grid-breakpoints, 'xl') * 1,
);
$container-padding-x:10px;

$headings: (
    'h1': (
        'size': 1rem,
        'weight': 700,
        'line-height': 2rem,
        'font-family': $heading-font-family,
    ),
    'h2': (
        'size': 1rem,
        'weight': 700,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    ),
    'h3':(
        'size': 1rem,
        'weight': 700,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    ),
    'h4': (
        'size': 1.625rem,
        'weight': 700,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    ),
    'h5': (
        'size': 1rem,
        'weight': 700,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    ),
    'h6': (
        'size': 1rem,
        'weight': 700,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    ),
    'subtitle-1': (
        'size': 0.875rem,
        'weight': 700,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    ),
    'subtitle-2': (
        'size': 0.875rem,
        'weight': 400,
        'line-height': 1.7rem,
        'font-family': $heading-font-family,
    )
);

.toolbar-icon.v-icon.v-icon {
  font-size: 3rem;
}
.bs-toolbar {
  &.theme--light.v-sheet {
    border-bottom: 1px solid $primary !important;
  }

  & > .v-toolbar__content {
    max-width: 100%;
    margin: 0 auto;
    @media all and (min-width: 960px) {
      max-width: 960px;
    }
    @media all and (min-width: 1264px) {
      max-width: 1280px - 16px;
    }

    .v-toolbar {
      .v-toolbar__content {
        align-items: flex-end;
        justify-content: center;
        padding: 0;
      }
    }
  }
}
.no-data-icon.v-icon.v-icon {
  font-size: 80px;
}
.bs-font-size {
  &--0-8x {
    font-size: 0.8rem !important;
  }
  &--0-8x .v-label {
    font-size: 0.8rem !important;
  }
  &--0-9x {
    font-size: 0.9rem !important;
  }
  &--0-9x .v-label {
    font-size: 0.9rem !important;
  }
  &--1x {
    font-size: 1rem !important;
  }
  &--1x .v-label {
    font-size: 1rem !important;
  }
  &--1-5x {
    font-size: 1.5rem !important;
  }
  &--1-5x .v-label {
    font-size: 1.5rem !important;
  }
  &--2x {
    font-size: 2rem !important;
  }
  &--2x .v-label {
    font-size: 2rem !important;
  }
  &--3x {
    font-size: 3rem !important;
  }
  &--3x .v-label {
    font-size: 3rem !important;
  }
}
strong {
  font-weight: 700;
}
.cursor--pointer {
  cursor: pointer;
}
.body-tr__cursor--pointer {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}
.scroll {
  height: 100px;
  overflow-y: scroll;
}
.bs-border{
  &--left {
    border-left: 1px solid rgba($bsFontColor, 0.2);
  }
  &--sm-left{
    @media all and (min-width: 470px){
      border-left: 1px solid rgba($bsFontColor, 0.2);
    }
  }
}
.bs-newline {
  white-space: pre-wrap;
}
.footer__img {
  display: inline-block;
  position: relative;
  top: 9px;
  padding: 0 0 0 1.5rem;
}
.bs-no-append-margin .v-input__append-inner {
  margin-top: 10px !important;
}
